In [1]:
import sys
sys.path.append('..')
import pandas as pd 
import numpy as np
import pathlib
from src.models.subsetExtractor import Extractor
from src.features.metrics import IoU, OverlapCoefficient

/usr/lib/python3/dist-packages/pytz/__init__.py:31: SyntaxWarning: invalid escape sequence '\s'
  match = re.match("^#\s*version\s*([0-9a-z]*)\s*$", line)

## READ TEST DATASET

In [2]:
df = pd.read_json("../data/test_sets/subset_extraction_testset.json")
df["set"] = df["set"].apply(lambda ingredients: [x.replace(" ", "_").replace("-", "_").lower() for x in ingredients])
df["subset"] = df["subset"].apply(lambda ingredients: [x.replace(" ", "_").replace("-", "_").lower() for x in ingredients])
df.head()

,set,subset
0,"[flour, eggs, milk, cheese, sugar, mustard]","[flour, eggs, milk, sugar]"
1,"[tomatoes, head_lettuce, banana, feta_cheese, ...","[tomatoes, head_lettuce, feta_cheese, olive_oil]"
2,"[freshly_ground_black_pepper, hot_milk, mayonn...","[freshly_ground_black_pepper, mayonnaise, toma..."
3,"[mushroom, nuts, oatmeal, vodka, raisins, sala...","[oatmeal, raisins, nuts, honey]"
4,"[cheddar_cheese, ground_beef, chili_powder, ch...","[cheddar_cheese, ground_beef, chili_powder, ch..."

## LOAD SUBSET EXTRACTOR

In [3]:
path = pathlib.Path().absolute().parent
path = path.joinpath("models/ingredients_correlation.json")
model = Extractor(path=path)

In [4]:
df["p_subset"] = df["set"].apply(lambda x: model.predict(x))
df.head()

,set,subset,p_subset
0,"[flour, eggs, milk, cheese, sugar, mustard]","[flour, eggs, milk, sugar]","[flour, eggs, milk, sugar]"
1,"[tomatoes, head_lettuce, banana, feta_cheese, ...","[tomatoes, head_lettuce, feta_cheese, olive_oil]","[tomatoes, head_lettuce, feta_cheese, olive_oil]"
2,"[freshly_ground_black_pepper, hot_milk, mayonn...","[freshly_ground_black_pepper, mayonnaise, toma...","[freshly_ground_black_pepper, mayonnaise, toma..."
3,"[mushroom, nuts, oatmeal, vodka, raisins, sala...","[oatmeal, raisins, nuts, honey]","[nuts, oatmeal, raisins, honey]"
4,"[cheddar_cheese, ground_beef, chili_powder, ch...","[cheddar_cheese, ground_beef, chili_powder, ch...","[cheddar_cheese, ground_beef, chili_powder]"

In [5]:
df["IoU"] = df.apply(lambda x: IoU(x.subset, x.p_subset), axis=1)
df["OverlapCoefficient"] = df.apply(lambda x: OverlapCoefficient(x.subset, x.p_subset), axis=1)
df.head()

,set,subset,p_subset,IoU,OverlapCoefficient
0,"[flour, eggs, milk, cheese, sugar, mustard]","[flour, eggs, milk, sugar]","[flour, eggs, milk, sugar]",1.00,1.0
1,"[tomatoes, head_lettuce, banana, feta_cheese, ...","[tomatoes, head_lettuce, feta_cheese, olive_oil]","[tomatoes, head_lettuce, feta_cheese, olive_oil]",1.00,1.0
2,"[freshly_ground_black_pepper, hot_milk, mayonn...","[freshly_ground_black_pepper, mayonnaise, toma...","[freshly_ground_black_pepper, mayonnaise, toma...",1.00,1.0
3,"[mushroom, nuts, oatmeal, vodka, raisins, sala...","[oatmeal, raisins, nuts, honey]","[nuts, oatmeal, raisins, honey]",1.00,1.0
4,"[cheddar_cheese, ground_beef, chili_powder, ch...","[cheddar_cheese, ground_beef, chili_powder, ch...","[cheddar_cheese, ground_beef, chili_powder]",0.75,1.0

## IOU

In [6]:
df.IoU.mean()

0.7638760880696365

## OVERLAP COEFFICINT

In [7]:
df.OverlapCoefficient.mean()

0.896415770609319